@import url("reset.css");
@font-face{
    font-family:"jp";
    src: url(/jf-openhuninn-1.1.tff);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-text-size-adjust: none;
}

img{
    display: block;
}
html,body{
    width: 100%;
    height: 100%;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
}
.dogs{
    width: 100%;
    height: auto;
    background-color: rgb(226, 226, 226);
}
.header{
    position: sticky;
    top: 0;
    overflow: hidden;
    width: auto;
    height: auto;
    margin: 0 auto;
    background-color: rgb(226, 226, 226);
}
.home{
    height: 100%;
    width: 100%;
    background-color: rgba(212, 212, 212, 0.055);
}
.name{
    height: 421px;
    width: 65px;
    font-size: 50px;
    font-family: jp; 
    padding: 0 0 0 50px ;
}
.videopage{
    height: auto;
    width:100%;
    background-color: rgb(226,226,226);
}
.video{
    height: 500px;
    width: 700px;
    padding: 100px 0 0 30px;
    margin: 0 auto;
}
.intor{
    width: 780px;
    height: 210px;
    text-align: center;
    font-family: Microsoft JhengHei;
    font-size: 16px;
    background-color: rgb(157, 204, 248);
    border-radius: 5%;
    margin: 0 auto;
}
.KW{
    height: auto;
    width: 100%;
    background-color: #f5f1ee;
    font-size: 36px;
    position: relative;
    margin-top: 20px;
}
.food-title{
    height:auto ;
    width: 100%;
    position: relative;
    margin-top: 30px;
    top: 20px;
}
.icon1{
    position: absolute;
    top: 28px;
    left: 38px;
    color: #f8cca0;
    z-index: 3;
}

.circle{
    position: relative;
    height:200px ;
    width: 200px;
}
.circleTest{
    position: relative;
    height:200px ;
    width: 200px;
    border-radius: 100px;
    background-color: #534741;
    z-index: 2;
}
.ret{
    width: 350px;
    height: 165px;
    border-radius: 75px;
    background-color: #f8cca0;
    position: absolute;
    top: 20px;
    left: 90px;
    z-index: 1;
}
.fword{
    text-align: center;
    margin-top: 40px;
    margin-left: 40px;
    font-size: 60px ;
    font-weight: bold;
    font-family: Microsoft JhengHei;
}
.KW1{
    height: 1080px;
    width: 1920px;
    background:#f5f1ee ;
    position: relative;
    top: 50px;
}
.meat{
    height: 300px;
    width: 260px;
    border-radius: 30%;
    border: 5px solid;
    border-color: #afafaf;
    float: left;
    margin-left: 80px;
    margin-top: 80px;
    position: relative;
    top: 30px;
    left: 250px;
}
.fresh{
    height: 300px;
    width: 260px;
    border-radius: 30%;
    border: 5px solid;
    border-color: #afafaf;
    float: left;
    margin-left: 80px;
    margin-top: 80px;
    position: relative;
    top: 30px;
    left: 250px;
}
.food{
    height: 300px;
    width: 260px;
    border-radius: 30%;
    border: 5px solid;
    border-color: #afafaf;
    float: left;
    margin-left: 80px;
    margin-top: 80px;
    position: relative;
    top: 30px;
    left: 250px;
}
.snack{
    height: 300px;
    width: 260px;
    border-radius: 30%;
    border: 5px solid;
    border-color: #afafaf;
    float: left;
    margin-left: 80px;
    margin-top: 80px;
    position: relative;
    top: 30px;
    left: 250px;
}
.word1{
    text-align: center;
    font-size: 22px;
    color: royalblue;
    font-family: monospace;
    position: absolute;
    bottom: 40px;
    left: 40px;
}
.word2{
    text-align: center;
    font-size: 22px;
    color: royalblue;
    font-family: monospace;
    position: absolute;
    bottom: 40px;
    left: 40px;
}
.word3{
    text-align: center;
    font-size: 22px;
    color: royalblue;
    font-family: monospace;
    position: absolute;
    bottom: 40px;
    left: 40px;
}
.word4{
    text-align: center;
    font-size: 22px;
    color: royalblue;
    font-family: monospace;
    position: absolute;
    bottom: 40px;
    left: 40px;
}
.circle1{
    height: 262px;
    width: 262px;
    border-radius: 130px;
    border: 8px solid;
    border-color: #c3ae95;
    position: absolute;
    top: -105px;
    left: -5px;
}
.photo1{
    position: relative;
    left: -5px;
    top: -3px;
}
.circle2{
    height: 262px;
    width: 262px;
    border-radius: 130px;
    border: 8px solid;
    border-color: #c3ae95;
    position: absolute;
    top: -105px;
    left: -5px;
}
.photo2{
    position: relative;
    left: -2px;
    top: -2px;
}
.circle3{
    height: 262px;
    width: 262px;
    border-radius: 130px;
    border: 8px solid;
    border-color: #c3ae95;
    position: absolute;
    top: -105px;
    left: -5px;
}
.photo3{
    position: relative;
    left: -2px;
    top: -3px;
}
.circle4{
    height: 262px;
    width: 262px;
    border-radius: 130px;
    border: 8px solid;
    border-color: #c3ae95;
    position: absolute;
    top: -105px;
    left: -5px;
}
.photo4{
    position: relative;
    left: -2px;
    top: -3px;
}
.dia{
    height: 300px;
    width: 1300px;
    border: 3px solid violet;
    position: absolute;
    left: 315px;
    top: 500px;
}
.KW2{
    height: auto;
    width: 1920px;
    background-color: #f5f1ee;
}
.money-title{
    height: 280px;;
    width: 800px;
    position: absolute;
    border: 5px solid blue ;
    left: 50px;
}
.Q{
    height: 260px;
    width: 240px;
    border: 30px solid #c7b299;
    border-radius: 180px;
    position: relative;
    z-index: 3;
}
.line{
    height: 100px;
    width: 0;
    border: 18px solid #c7b299;
    border-radius: 10px;
    transform: rotate(-50deg);
    position: relative;
    left: 135px;
    top: -70px;
    z-index: 1;
}
.ret2{
    height: 150px;
    width: 650px;
    background-color: #d8cabc;
    border-radius: 90px;
    position: relative ;
    top: -180px;
    left: 120px;
    z-index: 0;
}
.mword{
    font-size: 60px;
    text-align: center;
    font-weight: bold;
    font-family: Microsoft JhengHei;
    padding-top: 35px;
    padding-left: 35spx;
}
.photo5{
    position: relative;
    left: -15px;
    top: -5px;
    z-index: 2;
}
.article1{
    height: 300px;
    width: 1500px;
    border: 3px solid black;
    position: relative;
    top: 350px;
    left: 200px;
}
.article1>h1{
    font-size: 40px;
    font-weight: bold;
    font-family: sans-serif;
}
.article1 >h2,h3,p{
    font-size: 26px;
    font-family: sans-serif;
}
.part1{
    border: 3px solid black;
    height: fit-content;
    width: 650px;
    font-size: 24px;
    position: relative;
    top: 50px;
}
.part2{
    border: 3px solid black;
    height: fit-content;
    width: 650px;
    font-size: 24px;
    position: relative;
    top: -309px;
    left: 750px;
}
.article2{
    height: 300px;
    width: 1500px;
    border: 3px solid black;
    position: relative;
    top: 1100px;
    left: 200px;
}
.article3{
    height: 650px;
    width: 1500px;
    border: 3px solid black;
    position: relative;
    top: 1650px;
    left: 200px;
}
.article3 >h2,h3,h4{
    font-size: 26px;
    font-family: sans-serif;
}
.article4{
    height: 650px;
    width: 1500px;
    border: 3px solid black;
    position: relative;
    top: 1750px;
    left: 200px;
}
.top{
    float: left;
}

.menu-btn{
    font-size: 36px;
    font-weight: bold;
    border: none;
    background-color:transparent;
    outline: none;
    cursor: pointer;
    float: left;
}
.overlay{
    height: 100%;
    width: 0;
    position:fixed;
    z-index: 4;
    left: 0;
    top: 0;
    background-color: rgba(245, 241, 238, 099);
    overflow: hidden;
    transition: 0.5s ease-in-out;
}
.overlay ul li ul{
    visibility: hidden;
    height: 0;
}
.overlay ul li:hover ul{
    visibility: visible;
    height: 100%;
}
.overlay-content{
    position: relative;
    top:25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}
.overlay a{
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display:flex;
    justify-content: center;
    align-items: center;
}
.overlay a:hover{
    color: rgba(83, 71, 65);
    font-weight: bold;
}
.overlay .closebtn{
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}
.closebtn{
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-weight: bold;
    background: transparent;
    border: 2px solid;
    outline: none;
}
table{
    border:2px solid black ;
    position: relative;
    border-collapse: collapse;
    left: 400px;
}
table th{
    border: 1px solid black;
    padding: 30px;
    font-size: 24px;
}
table td{
    border: 1px solid black;
    padding: 30px;
    color: black;
}
td:hover {
    background-color: #aad9e2;
  }
@media screen and(max-height:450px) {
    .overlay a{font-size: 20px;}
    .overlay.closebtn{
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}