@import url("reset.css");
@font-face{
    font-family: jp ;
    src: url(/jf-openhuninn-1.1.ttf);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /*border: 1px solid red;*/
    -webkit-text-size-adjust: none;
}
img{
    display: block;
}
html{
    width: 100%;
    height: 100%;
}
body{
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
    background-color: #f5f1ee;
    display: inline-block;
    font-family: jp;
}
.header{
    position: sticky;
    top: 0;
    overflow: hidden;
    width: auto;
    height: auto;
    margin: 0 auto;
    background-color: #f5f1ee;
}
.videopage{
    position: relative;
    height: 290vh;
    width: 90vw;
    margin-left: 5vw;
    background-color: #f5f1ee;
}
.box1{
    position: relative;
    height: 60vh;
    width: 90vw;
    margin-top: 20vh;
}
.video1{
    flex: auto;
    width: 55vw;
    height: 60vh;
    position: absolute;
}
.intor1{
    position: absolute;
    height: 20vh;
    width: 30vw;
    margin-left: 60vw;
    margin-top: 15vh;
    font-size: 60px;
    text-align: center;
}
.box2{
    position: relative;
    height: 60vh;
    width: 90vw;
    margin-top: 20vh;
}
.video2{
    flex: auto;
    width: 55vw;
    height: 60vh;
    float: left;
    left: 35vw;
    position: absolute;
}
.intor2{
    position: absolute;
    height: 20vh;
    width: 30vw;
    font-size: 60px;
    text-align: center;
    margin-top: 15vh;
}
.box3{
    position: relative;
    height: 60vh;
    width: 90vw;
    margin-top: 20vh;
}
.video3{
    flex: auto;
    width: 55vw;
    height: 60vh;
    position: absolute;
}
.intor3{
    position: absolute;
    height: 20vh;
    width: 30vw;
    margin-left: 60vw;
    margin-top: 15vh;
    font-size: 60px;
    text-align: center;
}
.box4{
    position: relative;
    height: 60vh;
    width: 90vw;
    margin-top: 20vh;
}
.video4{
    flex: auto;
    width: 55vw;
    height: 60vh;
    float: left;
    left: 35vw;
    position: absolute;
}
.intor4{
    position: absolute;
    height: 20vh;
    width: 30vw;
    font-size: 60px;
    text-align: center;
    margin-top: 15vh;
}
nav{
    height: 55px;
    position: fixed;
    background-color: #c3ae95;
    opacity: 95%;
    z-index: 5;
    width: 100%;
}
.menu-btn{
    font-size: 36px;
    font-weight: bold;
    border: none;
    background-color:transparent;
    outline: none;
    cursor: pointer;
    float: left;
}
.overlay{
    height: 100%;
    width: 0;
    position:fixed;
    z-index: 4;
    left: 0;
    top: 0;
    background-color: rgba(245, 241, 238, 099);
    overflow: hidden;
    transition: 0.5s ease-in-out;
}
.overlay ul li ul{
    visibility: hidden;
    height: 0;
}
.overlay ul li:hover ul{
    visibility: visible;
    height: 100%;
}
.overlay-content{
    position: relative;
    top:25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}
.overlay a{
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display:flex;
    justify-content: center;
    align-items: center;
}
.overlay a:hover{
    color: rgba(83, 71, 65);
    font-weight: bold;
}
.overlay .closebtn{
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}
.closebtn{
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-weight: bold;
    background: transparent;
    border: 2px solid;
    outline: none;
}
.top{
    float: left;
    z-index: 7;
    position: fixed;
    left: 40px;
}
@media screen and(max-height:450px) {
    .overlay a{font-size: 20px;}
    .overlay.closebtn{
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}