@import url("reset.css");
@font-face{
    font-family:jp;
    src: url(/jf-openhuninn-1.1.ttf) format("truetype");
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-text-size-adjust: none;
    /*border: 1px solid red;*/  
}
img{
    display: inline-block;
}
html{
    width: 100%;
    height: 100%;
}
body{
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
    background-color: #f5f1ee;
    font-family: jp;
    display: inline-block;
}
.article{
    display: flex;
    height: 530vh;
    width: 70vw;
    margin-left: 15vw;
    background-color: #f5f1ee;
    position: absolute;
}
.content{
    height:530vh;
    width: 70vw;
    top: 25vh;
    position:absolute;
}
a{
    color: blue;
}
a:hover{
    color: rgb(10, 10, 10);
}
.money-title{
    height: 30vh;
    width: 70vw;
    position: relative;
    margin-left: 1vw;
}
.part0{
    position: relative;
    margin-top: 5vh;
    font-size: 28px;
}
.part0>h2{
    font-size: 24px;
}
.part0-1{
    position: relative;
    margin-top: 5vh;
    font-size: 28px
}
.part1{
    position: relative;
    height: 123vh;
    width: 70vw;
    margin-top: 15vh;
}
.photo1{
    position: relative;
    height: 38vh;
    width: 70vw;
}
.word1{
    position: relative;
    height: 25vh;
    width: 25vw;
    font-size: 18px;
    font-weight: bold;
    margin-left: 42vw;
    margin-top: -30vh;
}
.photo1-1{
    position: relative;
    height: 32vh;
    width: 70vw;
    margin-top: 15vh;
}
.word1-1{
    position: relative;
    height: 15vh;
    width: 25vw;
    font-size: 18px;
    font-weight: bold;
    margin-left: 42vw;
    margin-top: -25vh;
}
.word1-1-1{
    position: relative;
    height: 16vh;
    width: 70vw;
    font-size: 18px;
    font-weight: bold;
    margin-top: 5vh;
}
.word1-2{
    position: relative;
    height: 12vh;
    width: 70vw;
    font-size: 18px;
    font-weight: bold;
    margin-top: 10vh;
}
.part2{
    position: relative;
    height: 7vh;
    width: 70vw;
    margin-top: 5vh;
}
.part3{
    position: relative;
    height: 130vh;
    width: 70vw;
    margin-top: 15vh;
}
.photo3{
    position: relative;
    height: 40vh;
    width: 70vw;
}
.word3{
    position: relative;
    height: 20vh;
    width: 25vw;
    font-size: 18px;
    font-weight: bold;
    margin-left: 42vw;
    margin-top: -30vh;
}
.photo3-1{
    position: relative;
    height: 54vh;
    width: 70vw;
    margin-top: 15vh;
}
.word3-2{
    position: relative;
    height: 15vh;
    width: 30vw;
    font-size: 18px;
    font-weight: bold;
    margin-left: 34vw;
    margin-top: -35vh;
}
.part4{
    position: relative;
    margin-top: 5vh;
}
.part5{
    position: relative;
    height: 145vh;
    width: 70vw;
    margin-top: 15vh;
}
.photo5-1{
    position: relative;
    height: 30vh;
    width: 70vw;
}
.word5-1{
    position: relative;
    height: 25vh;
    width: 30vw;
    font-size: 18px;
    font-weight: bold;
    margin-left: 37vw;
    margin-top: -30vh;
}
.photo5-2{
    position: relative;
    height: 43vh;
    width: 70vw;
    margin-top: 5vh;
}
.word5-2{
    position: relative;
    height: 20vh;
    width: 30vw;
    font-size: 18px;
    font-weight: bold;
    margin-left: 37vw;
    margin-top: -30vh;
}
.photo5-3{
    position: relative;
    height: 30vh;
    width: 70vw;
    margin-top: 15vh;
}
.word5-3{
    position: relative;
    height: 20vh;
    width: 30vw;
    font-size: 18px;
    font-weight: bold;
    margin-top: -25vh;
    margin-left: 35vw;
}
.top{
    float: left;
    z-index: 7;
    margin-top: 5px;
    position: fixed;
    left: 40px;
}
.button{
    position: absolute;
    height: 80px;
    width: 200px;
    border-radius: 20px;
    padding-top: 4px;
    font-size: 65px;
    text-align: center;
    font-family: jp;
    font-weight: bold;
    background-color: rgb(192, 151, 112);
    margin-left: 50vw;
    bottom: 0;
}
.button:hover{
    transform: scale(1.1);
    color: saddlebrown;
    transition: 0.5s;
}
.button > a:hover{
    color: rgb(237, 239, 243);
}
.button>a{
    color: rgb(95, 93, 93);
}
@media screen and(max-height:450px) {
    .overlay a{font-size: 20px;}
    .overlay.closebtn{
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}