@import url("reset.css");
@font-face{
    font-family:jp;
    src: url(/jf-openhuninn-1.1.ttf);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-text-size-adjust: none;
    /*border: 1px solid red;*/
}
img{
    display: block;
}
html{
    width: 100%;
    height: 100%;
}
body{
    height: 100vh;
    width: 100%;
    scroll-behavior: smooth;
    background-color: #f5f1ee;
}
.money-title{
    height: 30vh;
    width: 70vw;
    position: relative;
    margin-left: 1vw;
}
.Q{
    height: 240px;
    width: 220px;
    border: 30px solid #c7b299;
    border-radius: 180px;
    position: relative;
    z-index: 3;
}
.line{
    height: 100px;
    width: 1px;
    border: 18px solid #c7b299;
    border-radius: 10px;
    transform: rotate(-50deg);
    position: relative;
    left: 135px;
    top: -70px;
    z-index: 1;
}
.ret2{
    height: 100px;
    width: 600px;
    background-color: #d8cabc;
    border-radius: 90px;
    position: relative ;
    top: -160px;
    left: 130px;
    z-index: 0;
}
.mword{
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    font-family: jp;
    padding-top: 25px;
    padding-left: 55px;
}
.photo5{
    position: relative;
    left: -15px;
    top: -8px;
    z-index: 2;
}
.content{
    position: relative;
    height: 100%;
    width: 80vw;
    margin-top: 30vh;
    left: -40vw;
    margin-left: 5vw;
}
.article{
    height: 100%;
    display: flex;
    width: 80vw;
    position: absolute;
    background-color: #f5f1ee;
    font-family: jp;
    top: 50px;
    left: 10vw;
}
.article>h2{
    font-size: 24px;    
}
.part1{
    position: relative;
    height: 20vh;
    width: 70vw;
    margin-top: 10vh;
}
.part2{
    position: relative;
    height: 20vh;
    width: 70vw;
    margin-top: 10vh;
}
a{
    color: rgb(95, 93, 93);
}
a:hover{
    color: rgb(8, 83, 247);
}
.part2>h1,h2{
    font-size: 24px;
}
.part2>h4{
    font-size: 26px;
}
.part3{
    position: relative;
    height: 28vh;
    width: 70vw;
    margin-top: 15vh;
}
.photo1{
    position: relative;
}
.word1{
    position: relative;
    margin-top: -15vh;
    margin-left: 35vw;
    font-size: 8px;
}
.part4{
    position: relative;
    height: 28vh;
    width: 70vw;
    margin-top: 15vh;
}
.photo2{
    position: relative;
}
.word2{
    position: relative;
    margin-top: -15vh;
    margin-left: 35vw;
    font-size: 8px;
}
.part5{
    position: relative;
    height: 28vh;
    width: 70vw;
    margin-top: 15vh;
}
.photo3{
    position: relative;
}
.word3{
    position: relative;
    margin-top: -13vh;
    margin-left: 35vw;
    font-size: 8px;
}
.part6{
    position: relative;
    height: 28vh;
    width: 70vw;
    margin-top: 15vh;
}
.photo4{
    position: relative;
}
.word4{
    position: relative;
    margin-top: -13vh;
    margin-left: 35vw;
    font-size: 8px;
}
.part7{
    position: relative;
    height: 28vh;
    width: 70vw;
    margin-top: 15vh;
}
.photo5{
    position: relative;
}
.word5{
    position: relative;
    margin-top: -13vh;
    margin-left: 35vw;
    font-size: 8px;
}
.part8{
    position: relative;
    height: 28vh;
    width: 70vw;
    margin-top: 15vh;
}
.photo6{
    position: relative;
}
.word6{
    position: relative;
    margin-top: -13vh;
    margin-left: 35vw;
    font-size: 8px;
}
.part9{
    position: relative;
    height: 28vh;
    width: 70vw;
    margin-top: 15vh;
}
.photo7{
    position: relative;
}
.word7{
    position: relative;
    margin-top: -13vh;
    margin-left: 35vw;
    font-size: 8px;
}
.part10{
    position: relative;
    height: 28vh;
    width: 70vw;
    margin-top: 15vh;
}
.photo8{
    position: relative;
}
.photo88{
    position: absolute;
    margin-top: -27vh;
    height: 10vh;
    width: 20vw;
}
.photo8-1{
    position: absolute;
    margin-left: 39vw;
}
.photo8-2{
    position: absolute;
    margin-left: 54vw;
}
.word8{
    position: relative;
    margin-top: -13vh;
    margin-left: 35vw;
    font-size: 8px;
}
.button{
    position: absolute;
    height: 80px;
    width: 200px;
    border-radius: 20px;
    padding-top: 4px;
    font-size: 65px;
    text-align: center;
    font-family: jp;
    font-weight: bold;
    background-color: rgb(192, 151, 112);
    margin-left: 60vw;
    margin-top: 850px;
}
.button:hover{
    transform: scale(1.1);
    color: saddlebrown;
    transition: 0.5s;
}
.button > a:hover{
    color: rgb(237, 239, 243);
}